      
<div class="container-login">
      <div class="login-heading">
         <h2>The world’s new platform for change</h2>
         <h1>New Change.Org</h1>
      </div>
      <div class="container-login-input">
         <form action="/auth/login" method="POST">
         <label> Username: </label>
         <input type="text" name="username">
         <br>
         <label> Password: </label>
         <input type="password" name="password">
         <br>  
         <button class="login-button index-button" type="submit">Log In</button>
         </form>
      </div>
</div>   



   
