<form action="/auth/signup" method="POST">
<div class="container-signup">
      <div class="signup-heading">
         <h2>The world’s new platform for change</h2>
         <h1>New Change.Org</h1>
      </div>
      <div class="container-sign">
         <input type="text" name="name" placeholder="First Name" required>
         <br>
         <input type="text" name="email" placeholder="E-mail" required>
         <br>
         <input type="text" name="username" placeholder="Username" required>
         <br>
         <input type="password" name="password" placeholder="Password" required min="8">
         <br>
         <button type="submit">Create Profile</button>
      </div>
</div>

</form>

{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}