<form action="/auth/signup" method="POST">
   <h1>Sign Up for New Change Org</h1>
   <input type="text" name="First Name" placeholder="First Name" required>

   <br>
   <input type="text" name="Email" placeholder="Email" required>

   <br>

   <input type="text" name="username" placeholder="username" required>

   <br>

   <input type="password" name="password" placeholder="password" required>
   <br>


   <button type="submit">Submit</button>
</form>