<h1>{{title}}</h1>
<p>New Change.Org</p>
<form action="/petitions">
  <input name="petitions" placeholder="Search for Petitions">
  <button type="submit">Search</button>
  <a href="/petitions/hello">All Petitions</a>
</form>