{{#if user}}

<h1>{{title}}</h1>

<p>New Change.Org</p>
<form action="/petitions">
  <input name="petitions" placeholder="Search for Petitions">
  <button type="submit">Search</button>
  <a href="/petitions">All Petitions</a>
</form>

{{else}}

<h1>{{title}}</h1>

<p>New Change.Org</p>



<button type="submit"> <a href="/auth/login">Login</a></button>
<button type="submit"><a href="/auth/signup">Sign Up</a></button>
{{/if}}