

{{#if user}}
<div class="index-loggedin">
  <div>
    <p>Welcome to <span class="logo-span">New Change.Org</span> {{user.name}}</p>
  </div>
  <div>
    <h1>The world’s platform for change</h1>
  </div>
  <div>
    <a class="button-style" href="/petitions/start-petition">Start a Petition</a>
  </div>
</div>

{{else}}

<div class="index">
  <div>
    <p>The world’s platform for change</p>
  </div>
  <div>
   <button type="submit"> <a href="/auth/login">Login</a></button>
    <button type="submit"><a href="/auth/signup">Sign Up</a></button>
  </div>
</div>


{{/if}}