<h1>{{title}}</h1>

<p>New Change.Org</p>

<form action="/petitions">
  <input name="petitions" placeholder="Search for Petitions">
  <button type="submit">Search</button>
  <a href="/petitions/all">All Petitions</a>
</form>
<button type="login"> Login</button><button type="signup">Sign Up</button>