<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{{title}}</title>
   <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

      {{#if user}}
      <nav class="navbar-loggedin">
         <div class="logo">
            <div>
               <a href="/">New Change.Org</a>
            </div>        
         </div>
         <div class="navbar-right-loggedin"> 
               <div style="padding-right: 13px;"><a href="/profile">Profile</a></div>
            <div style="padding-right: 13px;"><a href="/petitions">Browse</a></div>
            <div style="padding-right: 13px;"><a href="/petitions/start-petition">Start Petition</a></div>     
            <div style="padding-right: 13px;"><a href="/petitions/my-petitions">My Petitions</a></div>
            <div style="padding-right: 13px;"><a href="/auth/logout">Log out</a></div>
         </div> 
      </nav>
      {{else}}
      
      <nav class="navbar">     
         <div class="logo"><div><a href="/">New Change.Org</a></div></div>
         <div class="navbar-right">     
            <div style="padding-right: 13px;"><a href="/auth/signup">Sign Up</a></div>
            <div style="padding-right: 13px;"><a href="/auth/login">Log In</a></div>
         </div>
      </nav>
      {{/if}}
  

   {{{body}}}
<br><br>
<footer class="footer">
   <p style="font-size: 10px; padding-left: 20px;"><b>© 2021, New Change.org</b>  </p>
</footer>
<br>
   <script src="/js/script.js"></script>
</body>

</html>