
<h3>List of Petitions</h3>

{{#each petitionList}}
  <div class="petition-list">
      <img src="" alt="petition-image">
      <a href="/petitions/{{this._id}}"><p><b>{{this.name}}</b></p></a>
      <p>{{this.description}}</p>
  </div>
{{/each}}


<div class="petitions-start-button">
  <a href="/petitions/start-petition">Start a Petition</a>
</div>




{{#if errorMessage}}
  <h5>{{errorMessage}}</h5>
{{/if}}