
{{#with user}}
<div class="start-petition">
<form action="/petitions/start-petition" method="POST" enctype="multipart/form-data">
    <label for="subject">What kind of issue are you petitioning on?</label>
<br>
    <select name="subject" id="subject">
        {{#each ../subjects}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>
<br>
<br>
    <label for="petitionTitle">Write your petition title: </label>
<br>
    <input type="text" name="name" placeholder="...">
<br>
<br>
    <label for="problem">Explain the problem you want to solve: </label>
<br>
    {{!-- <input type="text" name="description" id="problem" min="30" placeholder="..."> --}}
    <textarea class="button-style" rows="5" cols="40" name="description" id="problem" min="30" placeholder="..."></textarea>
<br>

    <label for="deadline">Deadline: </label>
<br>
    <input type="date" name="deadline" id="deadline">

<br>
    <label for="location">Location: </label>
<br>
    <input type="text" name="location" nameplaceholder="Location">
<br>
    <label for="signatureTarget">What is your signature target? </label>
<br>
    <input type="number" name="signatureTarget" id="signatureTarget" min="0" placeholder="...">

<br>
    <label for="image">Please upload a photo: </label>
<br>
    <input type="file" id="image" name="image">
<br>
<br>
<br>
    <button class="index-button" style="padding:5px 20px; font-size: 16px;" type="submit">START PETITION</button>
<br>
</form>
</div>
{{/with}}

{{#if errorMessage}}
  <h5>{{errorMessage}}</h5>
{{/if}}
