@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700");

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
html,
body {
    margin: 0;
    height: 100%;
    background-color: #ddd4cb;
}

body {
    font-family: Roboto;
    font-size: 15px;
    line-height: 1.5em;
    font-weight: 300;
}
a {
    color: black;
    text-decoration: none;
}

.navbar-loggedin {
    display: flex;
    background-color: #718b7e;
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
}
.navbar-right-loggedin {
    display: flex;
    flex-direction: row;
}
.navbar {
    display: flex;
    background-color: #718b7e;
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
}
.navbar-right {
    display: flex;
    flex-direction: row;
}

h1 {
    color: 15px;
}
.logo {
    font-weight: bold;
    font-size: 18px;
}

.logo-span {
    font-weight: bold;
    font-size: 16px;
}

.petition-list {
    border: 1px solid #718b7e;
    box-shadow: 5px 5px 2px 1px #718b7e;
    width: 450px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 100px;
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
}
.container-description {
    margin-left: 15px;
}

.heading-list {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 18px;
}
.main-container-list {
    display: flex;
    justify-content: center;
}
#petition-start-button {
    color: #718b7e;
    text-align: center;
    padding-bottom: 100px;
}
.container-cause > p {
    text-align: center;
}

.start-petition {
    text-align: center;
    margin-top: 30px;
}
input,
select,
button {
    border: 3px solid white;
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
        0 0 16px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
        0 0 16px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
    padding: 5px;
    background: rgba(255, 255, 255, 0.5);
    margin: 3px 0 7px 0;
    font-family: Roboto;
    font-size: 15px;
    line-height: 1.5em;
    font-weight: 300;
}

label {
    font-size: 16px;
}
textarea {
    border: 3px solid white;
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
        0 0 16px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
        0 0 16px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
    padding: 5px;
    background: rgba(255, 255, 255, 0.5);
    margin: 3px 0 7px 0;
    font-family: Roboto;
    font-size: 15px;
    line-height: 1.5em;
    font-weight: 300;
}
